<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Consultechy offers the best collection of quality content and deals on technology">
    <meta name="keywords" content="technology reviews, consultechy, phone review, deals">
    <title>Home | Consultechy</title>
    <link rel="stylesheet" href="/views/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/css/app.css">
    <script src="/views/js/jquery.min.js"></script>
    <script src="/views/js/bootstrap.min.js" defer></script>
    <script src="/views/js/app.js" defer></script>
    {% block head %}{% endblock head %}
</head>
<body>
    <div class="page">
        <div class="notification"></div>
        {% block content %}{% endblock content %}
    </div>    
</body>
</html>